<!DOCTYPE html>
<html ng-app>

  <head>
    <script data-require="angular.js@1.3.0-beta.5" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body ng-controller="MainController">
    <h1>{{message}}</h1>
    
    <div>
      <p>First name: {{person.firstName}}</p>
      <p>Last name: {{person.lastName}}</p>
      <img ng-src="{{person.imageSrc}}" alt="" title="{{person.firstName}} {{person.lastName}}" />
    </div>
  </body>

</html>