<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
	<script data-require="angular.js@1.3.0-beta.5" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
	<script src="script.js"></script>
	<script src="github.js"></script>
</head>

<body ng-controller="MainController">
	<h1>{{message}}</h1>

	<div>{{error}}</div>

	<!--{{username}}-->
	{{countdown}}
	<!--<form action="" name="searchUser">-->
	<form action="" name="searchUser" ng-submit="search(username)">
		<input type="search" required placeholder="Username to find" ng-model="username">
		<!--<input type="submit" value="Search" ng-click="search(username)">-->
		<input type="submit" value="Search">
	</form>

	<div ng-include="'userdetails.html'" ng-show="user"></div>
</body>

</html>