<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
	<script data-require="angular.js@1.3.0-beta.5" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
	<script src="script.js"></script>
</head>

<body ng-controller="MainController">
	<h1>{{message}}</h1>

	<div>
		{{error}}
	</div>

	<div>
		<div>
			Name: {{user.name}}
		</div>
		<div>
			Location: {{user.location}}
		</div>
		<img ng-src="{{user.avatar_url}}" alt="" title="{{user.name}}" />
	</div>
</body>

</html>