<div>
	{{countdown}}
	<form action="" name="searchUser" ng-submit="search(username)">
		<input type="search" required placeholder="Username to find" ng-model="username">
		<input type="submit" value="Search">
	</form>
</div>