<div>
    <a href="#/main">Back to search</a>
    <a href="#/user/{{repo.owner.login}}">Back to {{repo.owner.login}}</a>
    <h1>{{repo.name}}</h1>
    <p><strong>Open issues:</strong> {{repo.open_issues_count}}</p>
    <p><strong>Contributors:</strong></p>
    <ul ng-repeat="contributor in repo.contributors">
        <li>
            <img ng-src="{{contributor.avatar_url}}" width="100" height="100" alt="">
            {{contributor.login}}
        </li>
    </ul>
</div>