<div>
    <a href="#/main">Back to search</a>
    <h2>{{user.name}}</h2>
    {{error}}
    <img ng-src="{{user.avatar_url}}" alt="" title="{{user.name}}" />

    Order:
    <select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
    </select>
</div>

<table>
    <thead>
        <th>name</th>
        <th>Stars</th>
        <th>Language</th>
    </thead>
    <tbody>
        <!--<tr ng-repeat="repo in repos | orderBy:'-stargazers_count'">-->
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td><a ng-href="#/repo/{{user.name}}/{{repo.name}}">{{repo.name}}</a></td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>